{
  "nodes": [
    {
      "name": "This"
    },
    {
      "name": "is"
    },
    {
      "name": "an"
    },
    {
      "name": "example"
    },
    {
      "name": "See"
    },
    {
      "name": "the"
    },
    {
      "name": "sourcecode"
    }
  ],
  "edges": [
    {
      "from": "This",
      "to": "is"
    },
    {
      "from": "is",
      "to": "an"
    },
    {
      "from": "an",
      "to": "example"
    },
    {
      "from": "is",
      "to": "sourcecode"
    },
    {
      "from": "See",
      "to": "the"
    },
    {
      "from": "the",
      "to": "sourcecode"
    }
  ]
}
