{
  "nodes": [
    "This",
    "is",
    "an",
    "example",
    "See",
    "the",
    "sourcecode"
  ],
  "edges": [
    [
      "This",
      "is"
    ],
    [
      "is",
      "an"
    ],
    [
      "an",
      "example"
    ],
    [
      "is",
      "sourcecode"
    ],
    [
      "See",
      "the"
    ],
    [
      "the",
      "sourcecode"
    ]
  ]
}